<h1>Angular Table Form Content</h1>

<pre>{{ formGroup.value | json }}</pre>

<app-table [elementData]="elementData" [formGroup]="formGroup">
  <ng-template #dynamic let-element let-index="index">
    {{ element.name }} ({{ index }})
  </ng-template>

  <ng-template #input let-element let-index="index">
    <ng-container formArrayName="formArray">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Label</mat-label>
        <input type="text" matInput [formControlName]="index" />
      </mat-form-field>
    </ng-container>
  </ng-template>
</app-table>
